html,
body {
  margin: 0;
  padding: 0;
}

.app {
  padding: 50px;
}

table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table td,
table th {
  border: 1px solid #aaa;
  padding: 10px 15px;
}

button {
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

a {
  color: blue;
}

